
<p-dataView #dv [value]="products"  >
    <ng-template  pTemplate="list" let-products>
        <div class="grid grid-nogutter">
            @for (item of products; track $index; ) {
                
                <div class="col-12" >
                    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"  >
                        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="item.thumbnail" />
                        <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                <div class="text-2xl font-bold text-900">{{ item.title}}</div>
                                <p-rating [(ngModel)]="item.rating"></p-rating>
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-tag"></i>
                                        <span class="font-semibold">{{ item.category }}</span>
                                    </span>
                                    @if (item.stock!=0) {
                                    <p-tag value="In stock" severity="success"></p-tag>
                                    }
                                    @if(item.stock==0){
                                        <p-tag value="Out of stock" severity="danger"></p-tag>
                                    }
                                </div>
                            </div>
                            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                <span class="text-2xl font-semibold">{{ '$' + item.quantity * item.price}}</span>
                                <p-inputNumber [(ngModel)]="item.quantity" [min]="1"  [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" decrementButtonClass="p-button-Primary"
                                incrementButtonClass="p-button-Primary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                                (ngModelChange)="updateQuantity(item)"
                                ></p-inputNumber>
                                <button pButton  class="md:align-self-end mb-2 p-button-rounded" (click)="removeItemFromCart(item.id)"> Delete</button> 
    
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
    </ng-template>
</p-dataView>